
########### NodeJs ###########
node_modules
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

########### Mac ###########
.DS_Store
.Trashes

########### Vim ###########
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[._]*.un~

########### VSCode ###########
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

########### WebStorm ###########
.idea

########### Egret ###########
.wing
bin-release
bin-debug

########### Linux ###########
*~
.Trash-*
.nfs*

########### Java ###########
*.class

########### Git ###########
!.gitkeep

########### current ###########
*/design/psd
*/database
*/db